<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <!-- Regist container -->
  <div class="bg-gray-200 rounded-2xl shadow-lg">
    <!-- Contenedor -->
    <div class="p-5">
      <!-- titulo -->
      <h2 class="font-bold text-2xl text-water">Registro</h2>
      <p class="text-sm mt-4 mb-8">
        Registrate en la prueba de applicacion con Angular-19
      </p>
      <!-- formulario -->
      <form [formGroup]="registForm" (ngSubmit)="validRegist()">
        <!-- Input para nombre -->
        <app-input
          id="frmName"
          label="Nombre"
          placeholder="Ingrese su nombre"
          formControlName="frmName"
          size="large"
          additionalClasses="bg-transparent md:bg-water-50 "
          [hasError]="!!getErrorMessage('frmName')"
          [errorMessage]="getErrorMessage('frmName')"
        />
        <!-- Input para correo -->
        <app-input
          id="frmMail"
          label="Correo"
          placeholder="Ingrese su correo"
          formControlName="frmMail"
          size="large"
          additionalClasses="bg-transparent md:bg-water-50 "
          [hasError]="!!getErrorMessage('frmMail')"
          [errorMessage]="getErrorMessage('frmMail')"
        />
        <!-- Input para clave -->
        <app-input
          id="frmPwd"
          label="Clave"
          placeholder="Ingrese su clave"
          formControlName="frmPwd"
          size="large"
          additionalClasses="bg-transparent md:bg-water-50 "
          [isPwd]="true"
          [hasError]="!!getErrorMessage('frmPwd')"
          [errorMessage]="getErrorMessage('frmPwd')"
        />
        <!-- Input para confirmar la clave -->
        <app-input
          id="frmPwdConfirm"
          label="Confirmar clave"
          placeholder="Confirme su clave"
          formControlName="frmPwdConfirm"
          size="large"
          additionalClasses="bg-transparent md:bg-water-50 "
          [isPwd]="true"
          [hasError]="!!getErrorMessage('frmPwdConfirm')"
          [errorMessage]="getErrorMessage('frmPwdConfirm')"
        />
        <!-- Boton para registrar -->
        <app-button
          color="water"
          label="Registrar cuenta"
          [additionalClasses]="'w-full mt-8'"
          type="submit"
          [disabled]="!registForm.valid"
          size="large"
        />
      </form>
    </div>
  </div>
</section>
